body{
    font-family: Arial;
}

button{
  width: 80%;
  height: 80%;
  font-family: Arial;
}

#GameJumper{
    font-size: 25pt;
    color: green;
    font-weight:900;
}

#Werbung{
    font-size: 30pt;
    font-weight: 1000;
}
